MONGODB_URI=mongodb+srv://your_user:your_password@cluster0.xxxxx.mongodb.net/sixalert
NODE_BACKEND_URL=http://localhost:4000
WORKER_SECRET=replace_with_shared_secret
CRICAPI_KEY=your_cricapi_key_here
